{% extends 'base.html' %}
{% block title %}{{ student }}{% endblock %}
{% block content %}
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">{{ student }}</h5>
            <div class="card-header">
                <h6> Age {{ student.age }}</h6>
                <p> started {{ student.trainer.course }}</p>
                <p>on {{ student.start_date }}</p>
            </div>

            <p class="card-text">Description:<br>
                {{ student.description }}</p>
            <a href="{% url 'list-of-students' %}" class="btn btn-primary">Back</a>
        </div>
    </div>
{% endblock %}