{% extends 'base.html' %}
{% block title %} List of students {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <table class="table">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Olympic</th>
                        <th>Name of Trainer</th>
                        <th>Course</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in all_students %}
                        <tr>
                            <td>{{ student.first_name }}</td>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.start_date }}</td>
                            <td>{{ student.end_date|date:'d-m-Y H:i' }}</td>
                            <td>
                                {% if student.is_olympic %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td>
                                {% if student.trainer %}
                                    {{ student.trainer }}
                                {% else %}
                                    No Trainer
                                {% endif %}
                            </td>
                            <td>
                                {% if student.trainer.course %}
                                    {{ student.trainer.course }}
                                {% else %}
                                    No Course
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'update-student' student.id %}" class="btn text-dark btn-warning btn-outline-light">Update</a>
                                <a href="{% url 'detail-student' student.id %}" class="btn text-dark btn-info btn-outline-light">Details</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}