{% extends 'base.html' %}
{% block title %} List of students {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 gy-4">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Filter students</h3>
                    </div>
                    <form method="get">
                        <div class="card-body">
                            {{ my_filter.form.as_p }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-primary">Search</button>
                            <a href="{% url 'list-of-students' %}" class="btn btn-outline-danger">Reset</a>
                        </div>
                    </form>
                </div>
            </div>
        <div class="col-md-8 gy-4">
            {% if all_students %}
                <div class="container-fluid">
                    <div class="row">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Olympic</th>
                                    <th>Name of Trainer</th>
                                    <th>Course</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for student in all_students %}
                                    <tr>
                                        <td>{{ student.first_name }}</td>
                                        <td>{{ student.last_name }}</td>
                                        <td>{{ student.start_date }}</td>
                                        <td>{{ student.end_date|date:'d-m-Y H:i' }}</td>
                                        <td>
                                            {% if student.is_olympic %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if student.trainer %}
                                                {{ student.trainer }}
                                            {% else %}
                                                No Trainer
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if student.trainer.course %}
                                                {{ student.trainer.course }}
                                            {% else %}
                                                No Course
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-success dropdown-toggle" type="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                    Actions
                                                </button>
                                                <ul class="dropdown-menu">
                                                    {% if perm.student.update_s %}
                                                        <li>
                                                            <a class="dropdown-item"
                                                               href="{% url 'update-student' student.id %}">Update</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if perm.student.detail_s %}
                                                        <li><a class="dropdown-item"
                                                               href="{% url 'detail-student' student.id %}">Details</a>
                                                        </li>
                                                    {% endif %}
                                                    {% if perm.student.delete_s %}
                                                        <li><a class="dropdown-item"
                                                               href="{% url 'delete-student' student.id %}">Delete</a>
                                                        </li>
                                                        <li>
                                                            <button type="button" class="dropdown-item"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#student_{{ student.id }}">
                                                                Delete modal
                                                            </button>
                                                        </li>
                                                    {% endif %}
                                                    {% if student.active is True %}
                                                        {% if perms.student.inactivate_student %}
                                                            <li><a href="{% url 'inactive-student' student.id %}"
                                                                   class="dropdown-item">Inactive</a></li>
                                                        {% endif %}
                                                    {% elif student.active is False %}
                                                        <li><a href="{% url 'active-student' student.id %}"
                                                               class="dropdown-item">Active</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div class="modal fade" id="student_{{ student.id }}" tabindex="-1"
                                                 aria-labelledby="exampleModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to delete {{ student }}?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">
                                                                No
                                                            </button>
                                                            <a href="{% url 'delete-student-modal' student.id %}"
                                                               class="btn btn-danger">Yes</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% else %}
                <div>
                    <h3 class="text-center">No students</h3>
                </div>
            {% endif %}
            {#    {% for trainer in trainers %}#}
            {#        <p>{{ trainer.first_name }} {{ trainer.last_name }}</p>#}
            {#        <p>{{ trainer.course }}</p>#}
            {#    {% endfor %}#}
{% endblock %}