{% extends 'base.html' %}
{% load static %}
{% block title %} List of trainers {% endblock %}

{% block content %}
    <br>
    <br>
    <div class="container-fluid text-center">
        <div class="row" style="display: flex">
            {% for trainer in all_trainers %}
                <div class="col-md-3 py-2">
                    <div class="card text-center">
                        {% if trainer.image %}
                            <img src="{{ trainer.image.url }}" class="card-img-top" alt="..." height="250px">
                        {% else %}
                            <img src="{% static 'static/images/meh.jpg' %}" class="card-img-top" alt="..." height="250px">
                        {% endif %}
                        <div class="card-body text-bg-warning">
                            <h5 class="card-title">{{ trainer }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ trainer.course }}</h6>
                            <p class="card-text">{{ trainer.description }}</p>
                            <p class="card-text">Started on {{ trainer.start_date }}</p>
                            <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        {% if perms.trainer.change_trainer %}
                                            <a class="dropdown-item"
                                               href="{% url 'update-trainer' trainer.id %}">Update</a>
                                        {% endif %}
                                        {% if perms.trainer.detail_t %}
                                            <a class="dropdown-item"
                                               href="{% url 'detail-trainer' trainer.id %}">Details</a>
                                        {% endif %}
                                        {% if perms.trainer.delete_trainer %}
                                            <a class="dropdown-item"
                                               href="{% url 'delete-trainer' trainer.id %}">Delete</a>
                                        {% endif %}
                                    </li>
                                    {% if perms.trainer.delete_trainer %}
                                        <li>
                                            <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                                    data-bs-target="#trainer_{{ trainer.id }}">
                                                Delete modal
                                            </button>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="trainer_{{ trainer.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete {{ trainer }}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    No
                                </button>
                                <a href="{% url 'delete-trainer-modal' trainer.id %}" class="btn btn-danger">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}