{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-2 position-absolute top-50 start-50 translate-middle">
                <div class="card">
                    <div class="card-header">
                        <h4>Login</h4></div>

                    <form method="post">

                        {% csrf_token %}
                        <div class="card-body">
                            {{ form.as_p }}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-success">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}