<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DjangoProject</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    {% if perms.student.view_student or perms.student.add_student %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Students
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if perms.student.add_student %}
                                    <li><a class="dropdown-item" href="{% url 'create-student' %}">Create a new
                                        student</a>
                                    </li>

                                {% endif %}
                                {% if perms.student.view_student %}

                                    <li><a class="dropdown-item" href="{% url 'list-of-students' %}">List of
                                        students</a>
                                    </li>
                                {% endif %}
                            </ul>

                        </li>
                    {% endif %}
                    {% if perms.trainer.view_trainer or perms.trainer.add_trainer %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Trainers
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if perms.trainer.add_trainer %}
                                    <li><a class="dropdown-item" href="{% url 'create-trainer' %}">Create a new
                                        trainer</a>
                                    </li>
                                {% endif %}
                                {% if perms.trainer.view_trainer %}
                                    <li><a class="dropdown-item" href="{% url 'list-of-trainers' %}">List of
                                        trainers</a>
                                    </li>
                                {% endif %}
                            </ul>

                        </li>
                    {% endif %}
                    {% if perms.book.add_book or perms.book.view_book %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Books
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if perms.book.view_book %}
                                    <li><a class="dropdown-item" href="{% url 'list-of-books' %}">List of books</a></li>
                                {% endif %}
                                {% if perms.book.view_book %}
                                    <li><a class="dropdown-item" href="{% url 'create-book' %}">Add book</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Lists
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'books' %}">List of books</a></li>
                            <li><a class="dropdown-item" href="{% url 'students' %}">List of students</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            {#            {% if user.is_authenticated %}#}
            {#                <a href="{% url 'logout' %}" class="btn btn-warning">Logout, {{ request.user.username }}</a>#}
            {#            {% else %}#}
            {#                <a href="{% url 'login' %}" class="btn btn-primary btn-outline-light">Login</a>#}
            {#                <a href="{% url 'create-user' %}" class="btn btn-primary btn-outline-light">Sign Up</a>#}
            {#            {% endif %}#}
            {% if user.is_authenticated %}
                {#                <a href="{% url 'logout' %}" class="btn btn-outline-light">Logout, {{ request.user.username }}</a>#}
                <div class="btn-group dropstart">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        My profile
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "logout" %}">Logout, {{ request.user.username }}</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                    </ul>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-light me-3">Login</a>
                <a href="{% url 'create-user' %}" class="btn btn-primary btn-outline-light me-3">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>