{% extends 'base.html' %}
{% block title %} List of Books {% endblock %}
{% block content %}
    <div class="container"><br><br>

        <h1 class="text-center">List of books</h1>
    </div>
    <div class="container-fluid">
        <table class="table table-info">
            <thead>
            <tr class="table-dark">
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Title</th>
                <th scope="col">Is read</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.first_name }}</td>
                    <td>{{ book.last_name }}</td>
                    <td>{{ book.title }}</td>
                    <td>{% if book.is_read is True %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'students' %}" class="btn btn-warning ">List of Students</a>
    </div>
{% endblock %}